@mixin seven {
    @media (max-width: 768px) {@content;}
}

@mixin six {
    @media (max-width: 640px) {
        @content;
    }
}


$blue : linear-gradient(90deg, #0087f6, #0059ff);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background: #222;
}


//Navbar// 

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: #333;
    z-index: 10;

    .title {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;

        @include seven {
            text-align: center;
            margin: 0 auto;
        }

    }

    .menu {
        display: flex;
        align-items: center;

        @include seven {
            display: none;
        }

        li {
            margin-left: 1.5rem;
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                transition: 0.25s ease-in-out;
                position: relative;
                padding: 5px 0;


                &:hover:before {
                    transform: scaleX(1);
                    transition: 0.25s ease-in-out;
                    transform-origin: right;
                }

                &:before {
                    content: "";
                    z-index: -1;
                    background: white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    transform: scaleX(0);
                    transition: 0.25s ease-in-out;
                    transform-origin: right;
                }

            }

        }

    }

}

//Landing Page//
.hero {
    background:url("House.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -11;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    .box {
        color: white;
        text-align: center;

        @include six {
            padding: 0 10px;
        }

        .title {
            font-size: 3.5rem;
            font-weight: bold;
            
            text-transform: uppercase;
            
            @include seven {
                line-height: 60px;
           
                font-size: 2.5rem;
            }

            @include six {
                font-size: 1.9rem;
            }

        }

        .par {
            font-family: "Poppins",sans-serif;
            font-size: 1rem;
            padding-bottom:2rem;

             @include six {
                 font-size: 0.8rem;
             }
        }
    
        .buttons {

            .hero-btn {
                background: $blue;
                text-decoration: none;
                color: white;
                padding: 0.5rem 2rem;
                margin: 0 0.5rem;

                 @include six {
                     display: block;
                     margin: 0.5rem 0;
                     padding: 0.8rem 2rem;
                 }

            }

            .hero-btn-contact {
                 background: transparent;
                 text-decoration: none;
                 color: white;
                 border: 1px solid white;
                 padding: 0.5rem 2rem;
                 margin: 0 0.5rem;
                 z-index: 1;
                 position: relative;
                 transition: 0.25s ease-in-out;


                &:hover {
                    color: black;
                }

                &:hover:before {
                    transform: scaleX(1);
                    transition: 0.25s ease-in-out;
                    transform-origin: right;
                }

                &:before {
                    content:"";
                    z-index: -1;
                    background: white;
                    position:absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: scaleX(0);
                    transition: 0.25s ease-in-out;
                    transform-origin: right;
                }

                  @include six {
                      margin: 0.5rem 0;
                      padding: 0.8rem 2rem;
                      display: block;
                  }
            }

        }

    }

}


//Sidebar//

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    z-index: 95;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);

    .title {
        font-size: 30px;
        color: white;
        padding-left: 40px;
        line-height: 80px;
        user-select: none;
    }

    .menu {
        margin-top: 0.5rem;
        
        li {

            a {
                text-decoration: none;
                color: white;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 65px;
                font-size: 20px;
                padding-left: 40px; 
                transition: 0.25s ease-in-out;
                border-top: 1px solid rgba(255,255,255,.1);
                border-bottom: 1px solid rgba(255, 255, 255, .1);

                &:hover{
                    padding-left: 50px;
                    background: $blue;
                }

            }

        }

    }

}

// Checkbox for Open Menu & Close Menu //

 
 #check {
    display: none;

    &:checked ~ .sidebar {
        left: 0;
    }

    &:checked ~  label #bar {
        left: 250px;
        opacity: 0;
    }    

     &:checked ~ label #close {
         left: 195px;
         opacity: 1;
     }

}


#bar, #close {
    position: absolute;
    cursor: pointer;
    z-index: 112;
}

#bar {
    left: 5px;
    top: 12px;
    font-size: 35px;
    padding: 6px 12px;
    transition: 0.25s ease-in-out;
    display: none;
    position: fixed;

    @include seven {
        display: block;
    }

}

#close {
    z-index: 112;
    left: -195px;
    top: 30px;
    height: 3.5%;
    padding: 4px 9px;
    opacity: 0;
    position: fixed;
    transition: 0.25s ease-in-out;
}

//Services//

.services {
    width: 100%;
    height: auto;
    color: white;
    padding: 5rem 3rem;

    @include seven {
        padding: 5rem 1rem;
    }
    
    .box {
        display: flex;
        color: white;
        flex-direction: column;
        position: relative;
        transition: 0.25s ease-in-out;

        input {
            transition: 0.25s ease-in-out !important;
            
        }

        #collapsible,#collapsible-2 {
            opacity: 0;
             transition: 0.25s ease-in-out;
        }

        #collapsible:checked ~ .com {
             max-height:150px;
             padding: 2rem 1rem;
             overflow: hidden;
             transition: 0.25s ease-in-out;
        }

        #collapsible-2:checked~ .com-2 {
            max-height:150px;
            padding: 2rem 1rem;
            overflow: hidden;
            transition: 0.25s ease-in-out;
        }

    
        #collapsible:checked~ label .first-tri {
            transform: rotate(0);
        }

        #collapsible-2:checked~label .second-tri {
            transform: rotate(0);
        }

    

        label {
            display: block;
            background: #333;
            user-select: none;
            text-align: center;
            padding: 1rem;
            font-size: 1.5rem;
            cursor:pointer;
            position: relative;
            transition: 0.25s ease-in-out;

            @include six {
                font-size: 1.3rem;
                text-align: left;
            }

            .tri {
                height: 16px;
                position:absolute;
                right: 30px;
                transition: 0.23s ease-in-out;
                top: 25px;
                transform: rotate(180deg);
            }

        }

        .com,.com-2 {
            padding: 0 1rem;
            z-index: -1;
            max-height:0;
            overflow: hidden;
            font-size: 1rem;
            font-weight: 400;
            transition: 0.25s ease-in-out;
            background:#2f2f2f;
        }

    }

    .title {
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        padding: 0rem 0 2rem 0;
    }
}

//Testimonial//

.testimonial {
    background: url("Houses.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}