@mixin seven {
    @media (max-width: 768px) {@content;}
}

@mixin six {
    @media (max-width: 640px) {
        @content;
    }
}


$blue : linear-gradient(90deg, #0087f6, #0059ff);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Poppins medium", sans-serif;
    background: #222;
}


//Navbar// 

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: #333;

    .title {
        color: white;
        font-size: 1.5rem;

        @include seven {
            text-align: center;
            margin: 0 auto;
        }

    }

    .menu {
        display: flex;
        align-items: center;

        @include seven {
            display: none;
        }

        li {
            margin-left: 1.5rem;
            list-style: none;

            a {
                text-decoration: none;
                color: white;
                transition: 0.25s ease-in-out;

                &:hover {
                    color: #0087f6;
                }

            }

        }

    }

}

//Landing Page//
.hero {
    background:url("House.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -11;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        color: white;
        text-align: center;

        .title {
            font-size: 4rem;
            font-weight: bold;
            font-family:"Poppins bold", sans-serif;
            text-transform: uppercase;
            padding-bottom: 0.5rem;

            @include six {
                font-size: 2rem;
            }

        }

        .par {
            font-family: "Poppins",sans-serif;
            font-size: 1rem;
            padding-bottom: 1.5rem;

             @include six {
                 font-size: 0.8rem;
             }
        }
    
        .buttons {

            .hero-btn {
                background: $blue;
                text-decoration: none;
                color: white;
                padding: 0.5rem 2rem;
                margin: 0 0.5rem;

                 @include six {
                     display: block;
                     margim-bottom: 0.5rem;
                     padding: 0.8rem 2rem;
                 }

            }

            .hero-btn-contact {
                 background: transparent;
                 text-decoration: none;
                 color: white;
                 border: 1px solid white;
                 padding: 0.5rem 2rem;
                 margin: 0 0.5rem;

                  @include six {
                      margin-top: 0.8rem;
                      padding: 0.8rem 2rem;
                      display: block;
                  }
            }

        }

    }

}


//Sidebar//

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #333;
    z-index: 110;
    transition: 0.25s ease-in-out;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);

    .title {
        font-size: 30px;
        color: white;
        padding-left: 40px;
        line-height: 80px;
        user-select: none;
    }

    .menu {
        margin-top: 0.5rem;
        
        li {

            a {
                text-decoration: none;
                color: white;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 65px;
                font-size: 20px;
                padding-left: 40px; 
                transition: 0.25s ease-in-out;
                border-top: 1px solid rgba(255,255,255,.1);
                border-bottom: 1px solid rgba(255, 255, 255, .1);

                &:hover{
                    padding-left: 50px;
                    background: $blue;
                }

            }

        }

    }

}

// Checkbox / Menu Bar / X Icon //

 
 #check {
    display: none;

    &:checked ~ .sidebar {
        left: 0;
    }

    &:checked ~  label #bar {
        left: 250px;
        opacity: 0;
    }    

     &:checked ~ label #close {
         left: 195px;
         opacity: 1;
     }

}


#bar, #close {
    position: absolute;
    cursor: pointer;
   
}

#bar {
    left: 40px;
    top: 12px;
    font-size: 35px;
    padding: 6px 12px;
    transition: 0.25s ease-in-out;
    display: none;

    @include seven {
        display: block;
    }

}

#close {
    z-index: 111;
    left: -195px;
    top: 30px;
    height: 3.5%;
    padding: 4px 9px;
    opacity: 0;
    transition: 0.25s ease-in-out;
}